footer {
    background-color: #F8F9FA;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: center
}