.about-text {
  margin: 20px;
  margin-bottom: 10px !important;
}
.col-xs-3 {
  width: 25%;
  float: left;
  padding: 0 15px;
}

.col-xs-9 {
  width: 75%;
  padding: 0 15px;
  float: right;
  text-align: left;
}
.row {
  display: flex;
  width: 100%;
  clear: both;
  overflow: auto;
}

.section {
  padding-top: 80px;
  overflow: auto;
}
.ptitle {
  margin: 0px auto 15px auto;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(210, 54, 105);
  font-size: 24px;
}

.pbody {
  margin: 40px auto 15px auto;
  color: #383838;
  font-size: 18px;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: line; 
}
